<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
  <link rel="stylesheet" href="css/index1.css" type="text/css"/>

  <script type='text/javascript' src='js/jquery.min.js'></script>
  <script type="text/javascript" src='js/index1.js'></script>

</head>

<body>
  <div id="banner">
      <div id="theme">
        <div id="theme_view">
        </div>
      </div>

      <div id="navbar">

        <div id="logo_wrapper">
          <a id="logo" href="index.html"></a>
        </div>

        <ul>
          <li id="nav_home">
            <a href="index.html">HOME</a>
          </li>
          <li id="nav_about">
            <a href="#about">ABOUT</a>
          </li>
          <li id="nav_contact">
            <a href="#contact">CONTACT</a>
          </li>
        </ul>
      </div>

      <div id="app_name">Meet My Professor</div>
      <div id="search">
        <div id="search_wrapper">
          <input id="search_input" type="text" name="search_input" value="link/ID/name">
          <input id="search_btn" type="button" name="search_btn">
        </div>
      </div>

      <div id="about"> <p>More About Us</p>
        <p class= "about-content"> Our application makes planning meetings quick and easy!</p>
        <div id = "center-box">
        <div id = "about-prof">
          <p><strong>Professors</strong></p>
          <p> Enter a link to your public calendar.Students will be able to see this calendar and make reservations.</p>
        </div>
        <div id = "about-student">
            <p><strong>Students</strong></p>
            <p>Search for a professor by their name or id, click on their calendar, and make a reservation!</p>
        </div>
        </div>
      </div>

      
      <div id = "contact">
        <p>Contact Us</p>
        <p class= "about-content">Some Contact Info Here </p>
      </div>
  </div>


</body>
</html>

