<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>{{calLink}}</title>

    <link rel='stylesheet' type='text/css' href='/css/fullcalendar.css' />
    <link rel="stylesheet" href="/css/professor-template.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/>
	
    <script type="text/javascript" src='/js/global.js'></script>
    <script type="text/javascript">
      var calObj = new Object();
      calObj.calID = '{{calID}}';
      calObj.calLink = '{{calLink}}';
      calObj.calLoc = '{{calLoc}}';
      calObj.instructions = '{{instructions}}';
      calObj.name = '{{name}}';
      calObj.email = '{{email}}';
      calObj.openPeriod = '{{openPeriod}}';
      calObj.startTime = '{{startTime}}';
      calObj.endTime = '{{endTime}}';
      calObj.interim = '{{interim}}';
    </script>
    <script type='text/javascript' src='/js/jquery.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui.custom.min.js'></script>
    <script type="text/javascript" src='/js/moment.min.js'></script>
    <script type='text/javascript' src='/js/fullcalendar.js'></script>
	<script type='text/javascript' src='/js/gcal.js'></script>
  	<script type="text/javascript" src="/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src='/js/professor-template.js'></script>
  </head>

<body>
	<div id="banner">
		<div id="theme">
		</div>

		<div id="navbar">
			<div id="logo_wrapper">
				<a id="logo" href="/"></a>
			</div>
        
		</div>

	</div>

	<div id="content">
		<div id="side">
			<div class="item">
				<div class="item_name">Location </div>
				<div class="item_static" id="static_calLoc"><p>{{calLoc}}</p></div>
			</div>

			<div class="item">
				<div class="item_name">Instructions </div>
				<div class="item_static" id="static_instructions"><p>{{instructions}}</p></div>
			</div>
					 
			<div class="item">
				<div class="item_name">Name </div>
				<div class="item_static" id="static_name">{{name}} </div>
			</div>

			<div class="item">
				<div class="item_name">Email </div>
				<div class="item_static" id="static_email" value="">{{email}} </div>
			</div>

			<div class="item">
				<div class="item_name">Time </div>
				<div class="item_static" id="start_time_static">{{startTime}} </div>
				<div id="from_to_static"> </div>
				<div class="item_static" id="end_time_static" value="">{{endTime}} </div>
			</div>
			
			<div class="item">
				<div class="item_name">Interim </div>
				<div class="item_static" id="static_interim">{{interim}} </div>
			</div>
			
			<!-- <div class="item">
				<div class="item_name">Expire Date </div>
				<div class="item_static" id="static_expireDate">{{expireDate}} </div>
			</div> -->
			<div class="item">
				<div class="item_name">Open Period</div>
				<div class="item_static" id="static_openPeriod" value= ""></div>
			</div>
				
			<div class="item" id="detail_btn_wrapper">
				<input class="btn detail_btn" type="button" id="submit_btn" onclick="detail_submit()" value="Submit">
				<input class="btn detail_btn" type="button" id="reset_btn" onclick="settings()" value="Edit">
			</div>
		</div>

		<div id="right_side">
			<div id="note">
				Link to share: http://meet.cs.brown.edu/calendar/{{calID}}
			</div>

			<div id="calendar"></div>
		</div>
	</div>
	
	<div id="registration_wrapper">
		<div id="registration">
			<div class="pop_title">Register Your Calendar</div>

			<div class="pop_body">
				<div class="pop_item">
					<div class="pop_item_name">Calendar Link </div>
					<input class="pop_item_input" type="text" id="your_calLink" value="{{calLink}}" readonly>
					<div class="pop_item_description" id="calLink_description">Your calendar link </div>
				</div>
				
				<!-- should fix id names and css -->
			<!-- 	<div class="pop_item">
					<div class="pop_item_name">Meeting Location</div>
					<input class="pop_item_input" type="text" id="your_calDesp" value="{{calLoc}}">
					<div class="pop_item_description" id="calDesp_description">Your meeting location </div>
				</div> -->
				<div class="pop_item">
					<div class="pop_item_name"> Location</div>
					<input class="pop_item_input" type="text" id="your_calLoc" value="">
					<div class="pop_item_description" id="calLoc_description">Your meeting location </div>
				</div>

				<div class="pop_item">
					<div class="pop_item_name">Instructions </div>
					<input class="pop_item_input" type="text" id="your_instructions" value="">
					<div class="pop_item_description" id="instruction_description">Instructions for students </div>
				</div>

			  
				<div class="pop_item">
					<div class="pop_item_name">Name </div>
					<input class="pop_item_input" type="text" id="your_name" value="">
					<div class="pop_item_description" id="name_description">Your name without any special characters </div>
				</div>

				<div class="pop_item">
					<div class="pop_item_name">Email </div>
					<input class="pop_item_input" type="text" id="your_email" value="">
					<div class="pop_item_description" id="email_description">Your email address to receive notifications </div>
				</div>

				<div class="pop_item">
					<div class="pop_item_name">Start and End Time </div>
					<input class="pop_item_input" type="text" id="start_time" value="">
					<div id="from_to"></div>
					<input class="pop_item_input" type="text" id="end_time" value="">
					<div class="pop_item_description" id="time_description">Your start time and end time for scheduling in 24-hour HH:MM format </div>
				</div>
			  			  
				<div class="pop_item">
					<div class="pop_item_name">Interim </div>
					<input class="pop_item_input" type="text" id="your_interim" value="">
					<div class="pop_item_description" id="interim_description">Your interim time between two meetings in HH:MM format</div>
				</div>
				
				<!-- <div class="pop_item">
					<div class="pop_item_name">Expire Date </div>
					<input class="pop_item_input" type="text" id="your_expireDate" value="{{expireDate}}">
					<div class="pop_item_description" id="expireDate_description">Your expire date for scheduling in YYYY-MM-DD format </div>
				</div> -->

				<div class="pop_item">
					<div class="pop_item_name">Open Period </div>
					<input class="pop_item_input" type="text" id="your_openPeriod" value="">
					<div class="pop_item_description" id="openPeriod_description">Weeks your calendar is open for reservations </div>
				</div>

				<div class="pop_item" id="btn_wrapper">
					<input class="btn pop_btn" type="button" id="ok_btn" onclick="pop_ok()" value="OK">
					<input class="btn pop_btn" type="button" id="cancel_btn" onclick="pop_cancel()" value="Cancel">
				</div>
			</div>
            
            <div id="hr"></div>
            
		</div>
	</div>
	
	<div id="result_wrapper">
		<div id="result">
			<img id="progress" src='/img/loading.gif'></img>
			<div id="message"></div>
			<input class="btn detail_btn" type="button" id="message_btn" onclick="message_ok()" value="OK">
		</div>
	</div>
</div>

	<div id="footer"></div>

</body>
</html>
