<!DOCTYPE html>
<html>
<head>
	<meta name="searchResults" content="{{searchResults}}">
	<title>{{searchResults}}</title>
	<link rel = "stylesheet" href = "css/searchresult.css" type = "text/css"/>
<!-- 	<script type = "text/javascript" src = "../public/js/jquery-1.8.3.js"/> -->
	<script type = "text/javascript" src = "js/searchresult.js"></script>

</head>

<body>
	<div id="banner">
      <div id="theme"></div>
    

    	<div id="navbar">
    		<div id="logo_wrapper">
        	<a id="logo" href="index-template.html"></a>
     		</div>
        
        	<ul>
	          	<!-- <li id="nav_home">
		            <a href="homepage2.html">HOME</a>
		          </li> -->
		        <li id="nav_about">
		            <a href="about.html">ABOUT</a>
		        </li>
		        <li id="nav_contact">
		            <a href="contact.html">CONTACT</a>
		        </li>
        	</ul>
      	</div>

    </div>

    <div id = "content">
    	<p id = "title"> Search Results</h1>
    	<ul id = "results">
            <div id = "element">
    		{{#results}}
    			<li class = "result-content"><a id = "name" style = "color:black", href = {{link}}><strong><span style = "font-size:25px">{{name}}</span></strong></a>-{{desc}}<li>
                <li class = "result-content">{{email}}</li>
                <li class = "result-content">{{id}}</li>
               <!--  <li class = "result-content">{{link}}</li> -->
                
    		{{/results}}
            </div>
    	</ul>
    </div>




</body>
