<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <title>{{calID}}</title>

    <link rel='stylesheet' type='text/css' href='/css/fullcalendar.css' />
    <link rel="stylesheet" href="/css/student-template.css" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.datetimepicker.css"/>

    <script type="text/javascript" src='/js/global.js'></script>
    <script type="text/javascript">
      var calObj = new Object();
      calObj.calID = '{{calID}}';
      calObj.calLink = '{{calLink}}';
      calObj.calLoc = '{{calLoc}}';
      calObj.instructions = '{{instructions}}';
      calObj.name = '{{name}}';
      calObj.email = '{{email}}';
      calObj.startTime = '{{startTime}}';
      calObj.endTime = '{{endTime}}';
      calObj.interim = '{{interim}}';
      calObj.period = '{{openPeriod}}';
    </script>
    <script type='text/javascript' src='/js/jquery.min.js'></script>
    <script type="text/javascript" src='/js/jquery-ui.custom.min.js'></script>
    <script type="text/javascript" src='/js/moment.min.js'></script>
    <script type='text/javascript' src='/js/fullcalendar.js'></script>
	  <script type='text/javascript' src='/js/gcal.js'></script>
  	<script type="text/javascript" src="/js/jquery.datetimepicker.js"></script>
    <script type="text/javascript" src='/js/student-template.js'></script>
  </head>

  <body>
    <div id="banner">
      <div id="theme">
      </div>

      <div id="navbar">
        <div id="logo_wrapper">
          <a id="logo" href="/"></a>
        </div>
        
      </div>

    </div>

    <div id="content">

      <div id="side">

        <div class="item">
          <div class="item_name">Owner </div>
          <div class="item_static" id="owner_static">{{name}}</div>
          <div class="item_description"></div>
        </div>

        <div class="item">
          <div class="item_name">Location </div>
          <div class="item_static" id="owner_static">{{calLoc}}</div>
          <div class="item_description"></div>
        </div>

        <div class="item">
          <div class="item_name">Instructions </div>
          <div class="item_static" id="calDesp">
            <p>{{instructions}}</p>
          </div>
          <div class="item_description"> </div>
        </div>

        <div id="reservation_detail">
          <div class="item">
            <div class="item_name">Time </div>
            <div class="item_static" id="start_time_static">  </div>
            <div id="from_to_static"> </div>
            <div class="item_static" id="end_time_static">  </div>
            <div id="hr"></div>
            <div class="item_description"> </div>
          </div>

          <div class="item">
            <div class="item_name">Name </div>
            <div class="item_static" id="name_static">  </div>
            <div class="item_description"> </div>
          </div>

          <div class="item">
            <div class="item_name">Email </div>
            <div class="item_static" id="email_static"></div>
            <div class="item_description"> </div>
          </div>

          <div class="item">
            <div class="item_name">For </div>
            <div class="item_static"  id="for_static"></div>
            <div class="item_description"> </div>
          </div>

          <div class="item" id="detail_btn_wrapper">
            <input class="btn detail_btn" type="button" id="submit_btn" onclick="detail_submit()" value="Submit">
            <input class="btn detail_btn" type="button" id="reset_btn" onclick="detail_reset()" value="Reset">
          </div>

        </div>

      </div>
      
      <div id="calendar">
      </div>
    </div>

    <div id="reservation_wrapper">
        <div id="reservation">
          <div class="pop_title"> Make A Reservation</div>

          <div class="pop_body">
            <div class="pop_left">
              <div class="pop_item">
                <div class="pop_item_name">Time </div>
                <input class="pop_item_input" type="text" id="start_time" value="">
                <div id="from_to"></div>
                <input class="pop_item_input" type="text" id="end_time" value="">
                <div class="pop_item_description" id="time_description">Your start time and end time in 24-hour HH:MM format </div>
              </div>

              <div class="pop_item">
                <div class="pop_item_name">Name </div>
                <input class="pop_item_input" type="text" id="your_name" value="">
                <div class="pop_item_description" id="name_description">Your name </div>
              </div>

              <div class="pop_item">
                <div class="pop_item_name">Email </div>
                <input class="pop_item_input" type="text" id="your_email" value="">
                <div class="pop_item_description" id="email_description">Your email address to receive notifications </div>
              </div>

              <div class="pop_item">
                <div class="pop_item_name">For </div>
                <input class="pop_item_input" type="text" id="for_what" value="">
                <div class="pop_item_description" id="for_description">Your reason for this meeting </div>
              </div>

              <div class="pop_item" id="btn_wrapper">
                <input class="btn pop_btn" type="button" id="ok_btn" onclick="pop_ok()" value="OK">
                <input class="btn pop_btn" type="button" id="cancel_btn" onclick="pop_cancel()" value="Cancel">
              </div>
            </div>
            <div class="pop_right">
              <div class="pop_title" id="suggested_times"> Suggested Times </div>
              <ul id="suggested_list">
              </ul>
            </div>
          </div>

          <div id="hr"></div>
        </div>
    </div>

    <div id="result_wrapper">
      <div id="result">
         <img id="progress" src='/img/loading.gif'></img>
        <div id="message"></div>
        <input class="btn detail_btn" type="button" id="message_btn" onclick="message_ok()" value="OK">
      </div>
    </div>

    <div id="footer"></div>
  </body>
</html>
