<!DOCTYPE html>
<head>
	<title> About Page </title>
	<link rel="stylesheet" href="../public/css/about.css" type="text/css"/>
</head>
	<body>
	
	<div id = "navbar">
	<ul>
		<li><a href = "homepage.html">HOME</a></li>
		<li><a href = "#">ABOUT</a></li>
		<li><a href = "contact.html"> CONTACT</a></li>
<!-- 		<li> <a href = "student.html">STUDENTS</a></li>
		<li><a href = "professor.html"> PROFESSORS</a></li>	 -->	
	</ul>
	</div>

	<div id = "picbox"></div>

	

	<div id = "words">
		<p id = "title"> About<p>
		<p class = "text"> More text here.....Blah Blah</p>
		<p class = "text"> More text here...Blah Blah</p>
	</div>


</body>
</html>