<!DOCTYPE html>
<head><title> Calendar </title>

	<link rel="stylesheet" href="../public/css/calendar-professor.css" type="text/css"/>
</head>

<body>

<div id = "navbar">
	<ul>
		<li><a href = "homepage2.html">HOME</a></li>
		<li><a href = "about.html">ABOUT</a></li>
		<li><a href = "contact.html"> CONTACT</a></li>
<!-- 		<li> <a href = "student.html">STUDENTS</a></li>
		<li><a href = "professor.html"> PROFESSORS</a></li>	 -->	
	</ul>
	</div>

<div id = "container">
<!-- <div id = "button"><a style = "color:white" href = "searchpage.html"><p id = "start">Get Started</p></a></div> -->
	<div id = "settings"></div>
<div id = "button"><a style = "color:white" href = "#"><p id = "start">Update Preferences</p></a></div>

	<iframe src="https://www.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=amanda_yao%40brown.edu&amp;color=%232952A3&amp;src=brown.edu_okikrvlrgrm76msasn5pcfe2b4%40group.calendar.google.com&amp;color=%238D6F47&amp;src=brown.edu_halnj7momtjg7vbuer5ab38umc%40group.calendar.google.com&amp;color=%23B1365F&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%2329527A&amp;ctz=America%2FNew_York" style=" border:2px solid black; margin-left:530px; margin-top:-870px; position:relative; top:205px  " width="1300" height="755" frameborder="0" scrolling="no" ></iframe>
</div>

<div id = "side">

	<p class = "text"id = "name"><strong>Professor:</strong> Jeff Huang</p>
	<p class = "text" id = "id"> <strong>Professor ID:</strong> 2013022501</p>
	<!-- <p class = "text" id = "description"> This calendar is for CSCI2951</p> -->

	<p id = "pref"> Preferences</p>
	<p class = "text"><strong> Link:</strong> <span style = "margin-left:95px">www.yourlink</span></p>
	<p class = "text"><strong>Margin Time:</strong> <span style = "margin-left:-10px">20 minutes</span></p>
	<p class = "text"><strong>Max. Duration:</strong><span style = "margin-left:-20px">45 minutes</span></p>
	<p class = "text"> <strong>Start Date:</strong><span style = "margin-left:20px"> 3/9/14</span></p>
	<p class = "text"> <strong>Expire Date:</strong> <span style = "margin-left:0px">4/9/14</span></p>


</div>	
	<!-- <div id = "button"><a style = "color:white" href = "searchpage.html"><p id = "start">Get Started</p></a></div> -->
</body>


</html>