<!DOCTYPE html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="homepage2.css" type="text/css" />
</head>

<body>

<div id = "navbar">
	<ul>

		<li><a href = "#">HOME</a></li>
		<li><a href = "about.html">ABOUT</a></li>
		<li><a href = "contact.html"> CONTACT</a></li>
<!-- 		<li> <a href = "student.html">STUDENTS</a></li>
		<li><a href = "professor.html"> PROFESSORS</a></li>	 -->	
	</ul>
</div>

<!--<div id ="header"><div id = "logo">
	<img id  ="shield" src = "http://students.brown.edu/Freethought/BrownFreethought.png"/>
</div>

<div id = "name"> MEET MY PROFESSOR
</div>
</div>-->

<div id = "picblock">
	<p id = "name"> Meet My Professor</p>
	<p id = "slogan"> Easy Appointment Booking </p>
	<form method="POST" action="calendar.html" id="linkForm">
    
    <div id= "input">
    <input type="text" name="message" id="messageField" value="Enter your link or ID here" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;"/>
    <input type = "submit" value = "Go" id = "button"><a style = "color:white" href = "searchpage.html"></a>
    </div>
    
 </div>

	</form>
</div>

<div id = "footer">
</div>


</body>




</html>
