<!DOCTYPE html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="../public/css/index.css" type="text/css" />

	<script type='text/javascript' src='../public/js/jquery.min.js'></script>
	<script type="text/javascript" src='../public/js/index.js'></script>

</head>

<body>
	<div id="banner">
      <div id="theme">
      	<div id="theme_view">
      	</div>
      </div>

      <div id="navbar">
        <ul>
          <li id="nav_home">
            <a href="homepage2.html">HOME</a>
          </li>
          <li id="nav_about">
            <a href="about.html">ABOUT</a>
          </li>
          <li id="nav_contact">
            <a href="contact.html">CONTACT</a>
          </li>
        </ul>
      </div>

      <div id="app_name">Meet My Professor</div>
      <div id="search">
        <div id="search_wrapper">
          <input id="search_input" type="text" name="search_input" value="link/ID/name">
          <input id="search_btn" type="button" name="search_btn">
        </div>
      </div>

    </div>

</body>




</html>
